.makeStyles-root-17 {
    min-height: 30vh !important;
}

.makeStyles-root-12 {
    min-height: 40vh !important;
}

.makeStyles-root-14 {
    min-height: 40vh !important;
}

.makeStyles-root-18 {
    min-height: 40vh !important;
}